<div class="container">
  <h1>Quotes</h1>
  <hr>

  <div class="row d.flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="card m-3 hvr-grw" *ngFor='let quotes of userquote;let i = index'>
        <div>
          <h4 id={{i}} >{{quotes.name}} </h4>

        </div>

        <div *ngIf='quotes.showDescription'>
          <app-user-detail  [quoting]='quotes' (isComplete) = 'deleteQuote($event,i)'></app-user-detail>

        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
        Launch demo modal
      </button>
    </div>
  </div>

  <p ></p>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"><app-user-form (addGoal)="addNewQuoting($event)"></app-user-form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
