<div class="container" id="quotearea">
  <h3 class="text-center mt-3">Listed Quotes</h3>
  <hr><hr>

  <div class="row d.flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="card m-3 hvr-grw" *ngFor='let quotes of userquote;let i = index'>
        <div>
          <h3 class="text-center namee m-5" id={{i}} >" {{quotes.name}} " </h3>

        </div>

        <div *ngIf='quotes.showDescription'>
          <app-user-detail  [quoting]='quotes' (isComplete) = 'deleteQuote($event,i)'></app-user-detail>

        </div>
      </div>
    </div>
    <!-- <div class="col-md-2">
      <button type="button" class="btn btn-outline-primary btn-rounded" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
        Launch demo modal
      </button>
    </div> -->
  </div>

  <p ></p>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"><app-user-form (addGoal)="addNewQuoting($event)"></app-user-form></div>

    </div>
  </div>
</div>
