<header>

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('../../assets/justin-veenema-zP80MWApkn8-unsplash.jpg');
      height: 100vh;

    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">

        <div class="text-white col">
          <h1 class="mb-3">Home of Inspirational Quotes</h1>
          <h4 class="mb-3 mt-5">"For the Love of money is the root of all Evil"</h4>
          <a class="btn btn-outline-primary btn-lg mt-5" href="#quotearea" role="button"
          data-mdb-toggle="modal" data-mdb-target="#exampleModal">Scroll down to view listed quotes</a
          >

        </div>
        <div class="col"></div>

      </div>

    </div>
  </div>
  <!-- Background image -->
</header>
