<header>

  <!-- Background image -->
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('../../assets/justin-veenema-zP80MWApkn8-unsplash.jpg');
      height: 400px;
      margin-top: 58px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Home of Inspirational Quotes</h1>
          <h4 class="mb-3">Subheading</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          data-mdb-toggle="modal" data-mdb-target="#exampleModal">Create a Quote</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
