.delete, .upvote, .downvote {
  height: 30px;
  cursor: pointer;
}
.upvote {
  width: 2.5rem;
  height: 2.5rem;
}

  .upvote:hover, .upvote:focus {
    animation: bellshake .6s cubic-bezier(.46,.11,.23,.99) both;
    backface-visibility: hidden;
    transform-origin: bottom left;
  }


@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(8deg); }
  30% { transform: rotate(-7deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(4deg); }
  85% { transform: rotate(-4deg); }
  92% { transform: rotate(3deg); }
  100% { transform: rotate(0); }
}

.downvote {
  margin-top: 10px;
  width: 2rem;
  height: 2rem;
}

  .downvote:hover, .downvote:focus {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    animation: bellshake .6s cubic-bezier(.46,.11,.23,.99) both;
    backface-visibility: hidden;
    transform-origin: top right;
  }


@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(8deg); }
  30% { transform: rotate(-7deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(4deg); }
  85% { transform: rotate(-4deg); }
  92% { transform: rotate(3deg); }
  100% { transform: rotate(0); }
}

.delete {
  margin-top: 10px;
  width: 2rem;
  height: 2rem;
}

  .delete:hover, .delete:focus {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    animation: bellshake .6s cubic-bezier(.46,.11,.23,.99) both;
    backface-visibility: hidden;
    transform-origin: center center;
  }


@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(8deg); }
  30% { transform: rotate(-7deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(4deg); }
  85% { transform: rotate(-4deg); }
  92% { transform: rotate(3deg); }
  100% { transform: rotate(0); }
}
