<div class="container">
<p>{{quoting.description}}</p>
<p> {{quoting.completeDate}} </p>
<div class="row">
  <div class="col-2">
  <img class="img-fluid delete" src="../../assets/SVG/delete-svgrepo-com.svg" alt="" (click)= 'quotingDelete(true)'>
  </div>
  <div class="col-2">
    <img class="upvote" src="../../assets/SVG/thumbs-up.png" alt=""><p>Upvote</p>
  </div>
  <div class="col-2">
    <img class="downvote" src="../../assets/SVG/thumb-down.png" alt=""><p>Downvote</p>
  </div>
</div>
</div>
