.delete, .upvote, .downvote {
  height: 30px;
  cursor: pointer;
}
.upvote {
  width: 3rem;
  height: 3rem;
}

  .upvote:hover, .upvote:focus {
    animation: bellshake .6s cubic-bezier(.46,.11,.23,.99) both;
    backface-visibility: hidden;
    transform-origin: bottom left;
  }


@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(8deg); }
  30% { transform: rotate(-7deg); }
  45% { transform: rotate(4deg); }
  60% { transform: rotate(-4deg); }
  75% { transform: rotate(4deg); }
  85% { transform: rotate(-4deg); }
  92% { transform: rotate(3deg); }
  100% { transform: rotate(0); }
}
